.DS_Store

__pycache__/
dist/
*.egg-info/

datasets/eeg_train/
datasets/eeg_test/
datasets/*.pth
datasets/**/*.JPEG
exps/
exp/
results/
wandb/

pretrains/models/v1-5-pruned.ckpt
pretrains/eeg-pretrain/*.pth
pretrains/generation/*.pth
